html, body {
    font-family: helvetica;
}

.navbar-brand {
    color: turquoise;
    font-family: Oswald;
}

.card-header {
    font-family: Oswald;
}

.register-wrapper {
    padding: 50px;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper img {
    max-width: 100%;
}

.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20% 10%;
}

.logo-wrapper button {
    margin-top: 15px;
}

.main-logo {
    font-family: Oswald;
    color: black;
    font-size: 40px;
    line-height: 25px;
}
.catchcopy {
    font-family: Oswald;
    color: white;
    font-size: 14px;
}

.intro-wrapper {
    background-color: white;
    position: relative;
}

.intro-wrapper p {
    text-align: center;
}

.intro-wrapper img {
    cursor: pointer;
}

.intro-img {
    padding-bottom: 20px;
}

.click-img {
    padding-left: 50%;
}

.click-img img {
    max-width: 100px;
    position: absolute;
}

.intro-text {
    font-size: 20px;
}

.top-header {
    font-family: Oswald;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.demo-wrapper {
    background-color: #003a8e;
    padding-bottom: 30px;
}

.demo-wrapper p {
    color: white;
    font-size: 12px;
    text-align: center;
}

.demo-paragraph {
    color: white;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.demo-header {
    font-family: Oswald;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    color: white;
}

.page-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
}

.page-wrapper h4 {
    font-weight: bold;
}

.header-title {
    font-family: Oswald;
    color: turquoise;
}

.comment-header {
    font-weight: bold;
}

.avbarDropdown {
    font-family: Oswald;
}

.post-img {
    width: 100%;
}

footer {
    background-color: white;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Oswald;
    font-size: 30px;
    line-height: 25px;
}

.footer-title a {
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: gray;
}

.footer-menu a {
    color: black;
    padding: 20px;
}

.footer-catchcopy {
    font-size: 14px;
}

.js-fadein {
    opacity: 0; 
    visibility: hidden;
    transform: translateY(30px);
    transition: all 1s;
}

.js-fadein.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.badge {
    color: white;
}

.travel-card {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    width: 330px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

.travel-card:hover, .question-card:hover, .number-box:hover, .faq:hover, .country-card:hover {
    box-shadow : 5px 5px 20px gray;
}

.question-card {
    background-color: white;
    box-shadow: 0 12px 12px gray;
    transition: box-shadow .5s;
    width: 330px;
    border-radius: 10px;
    margin: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-cards {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 12px;
}

.more {
    font-size: 24px;
    font-family: Oswald;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}

.more a {
    color: rgb(219, 214, 214);
    opacity: 0.8;
}

.more a:hover {
    color:#003a8e;
    text-decoration: none;
}

.user-cards img {
    max-width: 100%;
    display: inline-block;
    height: 220px;
    box-shadow: 0 5px 5px gray;
}

.travel-card img {
    max-width: 100%;
    display: inline-block;
    height: 220px;
    box-shadow: 0 5px 5px gray;
}

.travel-img {
    text-align: center;
}

.travel-card p {
   padding-left: 15px;
   padding-right: 15px;
   margin: 0;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.card-user {
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
}

.card-user a {
    color: black;
}

.user-title {
    font-size: 15px;
    padding-top: 10px;
}

.no-country {
    font-size: 13px;
    padding: 10px 0px;
}

.card-title-trouble {
    font-size: 15px;
    padding-bottom: 10px;
}

.card-date {
    font-size: 9px;
    padding-bottom: 10px;
}

.card-diary {
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 8px;
}

.post-date {
    color: gray;
    padding-bottom: 10px;
    font-size: 9px;
}

.user-post-date {
    padding-top: 10px;
    color: gray;
    padding-bottom: 10px;
    font-size: 9px;
}

.travel-card-show {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    max-width: 1000px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.travel-card-show img {
    box-shadow: 0 12px 12px gray;
}

.travel-card-show p {
    margin: 0;
}

.back {
    padding: 25px;
}

.btn-edit {
    padding-top: 15px;
}

.twitter-share-button {
    margin-left: 10px;
}

.comment-user {
    font-size: 12px;
    color: black;
}

.comment-user a {
    color: black;
    font-weight: bold;
}

.comment-date {
    font-size: 8px;
    color: gray;
    text-align: left;
}

.comment-info {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.trouble-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.trouble-more {
    padding: 10px;
}

.btn-show {
    display: flex;
    align-items: center;
}

.answer-btn {
    padding: 10px;
}

.post-date-question {
    color: gray;
    font-size: 9px;
}

.question-header {
    font-family: Oswald;
    font-size: 16px;
    padding-bottom: 5px;
}

.question-text {
    font-family: sans-serif;
    font-size: 14px;
}

.answer-info {
    padding-bottom: 10px;
}

.card-user-question {
    font-size: 12px;
    font-weight: bold;
}

.card-user-question a {
    color: black;
}

span {
    display: inline-block;
}

.btn {
    font-family: Oswald;
}

.user-header {
    font-family: Oswald;
    padding-top: 15px;
}

.user-cards {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 0px;
}

.user-cards a {
    color: black;
}

.country-list a {
    color: black;
}

.user-container {
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.user-date {
    font-size: 9px;
}

ol {
    padding-top: 10px;
}

.scroll {
    color: rgb(219, 214, 214);
    opacity: 0.5;
    font-size: 24px;
    font-family: Oswald;
    text-align: center;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
}

#open {
    cursor: pointer;
    text-align: center;
}

.world-img img {
    max-width: 1000px;
}

#modal {
    background: #fff;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    opacity: 1;
    transition-duration: 0.6s;
}

#close {
    text-align: right;
    cursor: pointer;
}

#modal > p {
    padding-bottom: 10px;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    opacity: 0;
    pointer-events: none
}

i:hover {
    color: gray;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.number-box {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

.country-number {
    font-size: 48px;
    text-align: center;
    font-family: Oswald;
    line-height: 70px;
}

.number-box p {
    font-size: 14px;
    text-align: center;
    font-family: Oswald;
}

.faq {
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom:20px;
}

dd::before {
    content: 'A : '
}

dd {
    display: none;
    padding-top: 10px;
}

dt::after {
    content: '+';
    top: 0px;
    right: 16px;
    position: absolute;
    transition: transform .3s;
}

dt {
    position: relative;
    padding-right: 50px;
    cursor: pointer;
    user-select: none;
}

dt::before {
    content: 'Q : '
}

dl > div.appear dd {
    display: block;
    animation: .5s fadeIn;
}

dl > div.appear dt::after {
    transform: rotate(45deg);
}

.faq-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact-card {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

table {
    counter-reset: rowCount;
    font-size: 13px;
}

table > tbody > tr {
counter-increment: rowCount;
}

table > tbody > tr > td:first-child::before {
content: counter(rowCount);
}

small a {
    color: black;
}

td a {
    color: black;
}

.country-card {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    transition: box-shadow .5s;
    width: 270px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

.country-card p {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

 .country-name {
     font-size: 13px;
 }

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 1026px) {
    .logo-wrapper {
        padding:15% 10%;
    }

    footer {
        padding-bottom: 20px;
    }

    .footer-row {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .footer-title {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Oswald;
        font-size: 30px;
        line-height: 25px;
    }

    .footer_menu a {
        padding: 10px;
        color: black;
    }

    .world-img img {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .card-info {
        padding-top: 15px;
    }
}

@media screen and (max-width: 640px) {
    .logo-wrapper {
        padding:10% 5%;
    }

    .main-logo {
        font-family: Oswald;
        color: black;
        font-size: 20px;
        line-height: 20px;
    }

    .catchcopy {
        font-family: Oswald;
        color: white;
        font-size: 7px;
    }
    
    .logo-wrapper button {
        width: 90px;
        height: 30px;
        font-size: 7px;
    }

    .top-header {
        font-family: Oswald;
        font-size: 30px;
        text-align: center;
        padding-top: 40px;
    }

    .intro {
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .intro-text {
        font-size: 14px;
    }

    .demo-header {
        font-size: 24px;
    }

    .footer-title {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Oswald;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .footer-catchcopy {
        font-size: 10px;
    }

    .footer-menu a {
        color: black;
        padding: 5px;
    }

    .register-wrapper {
        padding: 10px 5px;
    }

    .register-wrapper btn-btn-outline-primary {
        margin: 0 auto;
    }

    #modal {
        max-width: 340px;
        top: 25%;
        font-size: 9px;
        line-height: 20px;
    }

    .scroll {
        font-size: 16px;
    }
    
    .click-img img {
        max-width: 50px;
    }

    h2, h4 {
        text-align: center;
    }

    .demo-wrapper p {
        color: white;
        font-size: 10px;
        text-align: center;
    }
    span {
        display: inline-block;
    }
    .number-boxes {
        text-align: center;
    }
    .country-card {
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
    }
}